* {
	font-family: "Source Sans Pro", sans;
	margin: 0;
}

body {
	text-align: center;
}

#navbar-header {
	font-size: xxx-large;
	text-align: center;
	margin: 20px;
}

.content {
	margin: 0 auto;
	display: inline-block;
}

.content-section {
	text-align: justify;
}

#navbar {
	margin-bottom: 30px;
}

#navbar ul {
	padding: 10px;
	list-style-type: none;
	border: 2px solid lightblue;
	border-left: none;
	border-right: none;
	width: 50%;
	margin: auto;
}

#navbar li {
	display: inline;
}

#navbar a {
	margin: 0 10px 0;
}

.content-header {
	margin: 20px 0 10px;
}
